.pizza-image {
    height: 346px;
}

.zip-code {
    text-align: left;
}

.search-button {
    color: blue;
    border: .1em blue solid;
}

.jumbotron {
    background-image: url(/images/pizza.png);
    height: 346px;
    width: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pizza-sign {
    margin-top: 125px;
    width: 100%;
    display: inline-block;
}

.container {
    width: 100%;
}

.pizza-signage {
    text-align: center;
    font-weight: bold;
}

.build-pizza {
    margin-top: 40px;
}

.tab-content {
    width: 100%;
}

.card {
    width: 100%;
}

.card-footer {
    display: flex;
    justify-content: end;
}


