h1 {
    color: #007069;
}

.main-header {
    text-align: center;
}

h2 {
    color: #007069;
    text-decoration: underline;
}

body {
    background-color: lightblue;
    font-family: sans-serif;
}

ul {
    list-style: square;
}

td {
    padding: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff7f50;

}